.back_btn_override{
    position: absolute !important;
    z-index: 100 !important;
}

.padding_research_container{
    padding: 1rem 1rem !important;
}

.Width_manage_class{
    width: 60%  !important;
}

@media(max-width:600px){
    .detailhero_override_style{
        font-size: 15px !important;
    }

    .detailhero_sub_override_text{
        font-size: 13px !important;
    }

    .back_btn_override{
        font-size: 13px  !important;
         margin: 10px !important;
    }
}

@media(max-width:560px){
    .detailhero_override_style{
        font-size: 15px !important;
    }

    .detailhero_sub_override_text{
        font-size: 13px !important;
    }

    .back_btn_override{
        font-size: 13px  !important;
         margin: 10px !important;
    }
}

@media(max-width:500px){
    .detailhero_override_style{
        font-size: 15px !important;
    }

    .detailhero_sub_override_text{
        font-size: 13px !important;
    }

    .back_btn_override{
        font-size: 13px  !important;
         margin: 10px !important;
    }
}

@media(max-width:460px){
    .detailhero_override_style{
        font-size: 14px !important;
    }

    .detailhero_sub_override_text{
        font-size: 12px !important;
    }

    .back_btn_override{
        font-size: 12px  !important;
         margin: 10px !important;
    }
}

@media(max-width:400px){

    .detailhero_override_style{
        font-size: 14px !important;
    }

    .detailhero_sub_override_text{
        font-size: 12px !important;
    }

    .back_btn_override{
        font-size: 12px  !important;
         margin: 10px !important;
    }
}

@media(max-width:360px){

    .detailhero_override_style{
        font-size: 14px !important;
    }

    .detailhero_sub_override_text{
        font-size: 12px !important;
    }

    .back_btn_override{
        font-size: 12px  !important;
        margin: 10px !important;
    }
}