@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.decoration-style-none {
  text-decoration: none;
}

.container-cards-starter {
  width: 100vw;
  min-height: 100vh;
  background-color: #000;
  position: relative;
  overflow-x: hidden;
}

.image-backgrounnd-starter {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.starter-outer-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 2s ease;
  pointer-events: none;
}

.starter-outer-container.show-now-11 {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.container-top-head-starter,
.card-starter-section,
.no-copy-write-title {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 1.8s cubic-bezier(0.2, 1, 0.2, 1),
    transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
}

.starter-outer-container.show-now-11 .container-top-head-starter,
.starter-outer-container.show-now-11 .card-starter-section,
.starter-outer-container.show-now-11 .no-copy-write-title {
  opacity: 1;
  transform: translateY(0);
}

.starter-outer-container.show-now-11 .card-starter-section {
  transition-delay: 0.3s;
}

.container-top-head-starter {
  padding: 4rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.card-starter-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  padding: 2rem 15rem;
}

.choose-title-starter {
  font-weight: 400;
  font-size: 42px;
  color: #ffffff;
}

.explore-title-starter {
  font-weight: 300;
  font-size: 20px;
  color: #dddddd;
}

.starter-innner-card {
  border: 1px solid rgba(109, 109, 109, 0.4);
  border-radius: 12px;
  padding: 1rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition:
    transform 0.5s cubic-bezier(0.2, 1, 0.2, 1),
    background 0.5s ease;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.starter-innner-card:hover {
  transform: translateY(-10px);
  background: rgba(50, 50, 50, 0.6);
}

.no-copy-write-title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  padding: 20px 10px;
}

.top-starter-container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 15px;
}

.head-starter-box {
  background: linear-gradient(
    180deg,
    rgba(14, 153, 173, 0.4) 27.08%,
    rgba(149, 149, 149, 0.4) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.head-logo-reallives {
  width: 80px;
  height: 80px;
}

.head-logo-reallives img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.fetures-mini-box {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.fetures-inner-box {
  border-radius: 25px;
  background-color: #ccd7ff;
  text-transform: uppercase;
  color: #0036fd;
  padding: 10px 12px;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.bottom-starter-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: space-between;
}

.button-continue-card {
  background: linear-gradient(96.79deg, #0040e0 0%, #2e5bff 100%);
  font-weight: 600;
  font-size: 15px;
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-top: auto;
  border: none;
  outline: none;
}

.bottom-title-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.simulation-title-text {
  font-weight: 700;
  font-size: 22px;
  color: #f2f2f2;
}
.simulation-desc-text {
  font-weight: 600;
  font-size: 15px;
  color: #618efe;
}
.starter-mid-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #e6e6e6;
}

.arrow-move-11 {
  display: inline-block;
  vertical-align: middle;
  animation: arrow-float-infinite 1.5s ease-in-out infinite;
}
@keyframes arrow-float-infinite {
  0%,
  100% {
    transform: translateX(0);
    opacity: 0.8;
  }
  50% {
    transform: translateX(8px);
    opacity: 1;
  }
}

.bg-changemaker {
  background: linear-gradient(
    180deg,
    rgba(253, 129, 35, 0.4) 0%,
    rgba(115, 115, 115, 0.4) 100%
  ) !important;
}
.channgemaker-color-top {
  color: #993100 !important;
  background-color: #f9ece6 !important;
}
.title-changemaker-color {
  color: #fd7c3f !important;
}
.btn-bg-color-white {
  background: #eaeaec !important;
  color: #993100 !important;
}

@media(max-width:1668px){

   .card-starter-section {
    padding: 1rem 17rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

}

@media(max-width:1440px){
    .card-starter-section {
    padding: 1rem 15rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
}

@media(max-width:1368px){

  .simulation-title-text{
    font-size: 22px;
  }

     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 8rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }
}

@media(min-width:1180px) and (max-width:1280px){

  .simulation-title-text{
    font-size: 22px;
  }

     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:1025px) and (max-width:1180px){

  .simulation-title-text{
    font-size: 20px;
  }

     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 5rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:900px) and (max-width:1024px){

  .simulation-title-text{
    font-size: 20px;
  }


     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 1rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:800px) and (max-width:900px){
     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 1rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:700px) and (max-width:800px){
     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 1rem;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:600px) and (max-width:700px){
     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 5rem;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:481px) and (max-width:600px){
     .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 15px;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media(min-width:400px) and (max-width:480px){
          .button-continue-card{
        font-size: 11px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 15px;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 9px;
    padding: 7px 8px;
  }

}

@media (min-width: 350px) and ( max-width:390px) {

    .head-logo-reallives {
    width: 60px;
    height: 60px;
   }

    .head-starter-box{
        height: 140px;
    }

    .none-mobile-style{
        display:none;
    }

    .button-continue-card{
        font-size: 11px;
        padding: 10px;
    }

  .container-cards-starter {
    overflow-y: auto;
  }

  .container-top-head-starter {
    padding: 3rem 1rem 1rem 1rem;
  }

  .choose-title-starter {
    font-size: 26px;
  }

  .card-starter-section {
    padding: 1rem 15px;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .starter-innner-card {
    width: 100%;
    min-height: auto;
    grid-template-rows: auto 1fr;
  }

  .fetures-mini-box {
    gap: 5px;
  }

  .fetures-inner-box {
    font-size: 8px;
    padding: 5px 7px;
  }

  
}