*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.impact_graph_map_container {
  display: flex !important;
  flex-direction: column !important;
}

.map_edit_override {
  border: none !important;
  background-color: none !important;
}

.padding_manage_style {
  padding: 0rem 3rem !important;
}

.impact_card_style {
  grid-template-columns: 1fr 1fr !important;
}

.cardImage_override {
  height: 100% !important;
}

.cardImage_override > img {
  height: 100% !important;
  max-height: none !important;
}

.background_change_color {
  background: #ffc41f !important;
}

.text_align_center{
  text-align: center !important;
}


.global_image_section {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:670px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}

@media(max-width:600px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}

@media(max-width:560px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}

@media(max-width:500px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}

@media(max-width:460px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}
@media(max-width:400px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}

@media(max-width:360px){
  .padding_manage_style{
        padding: 0rem 0rem !important;
  }

  .impact_card_style{
    grid-template-columns: 1fr !important;
  }

  .padding_impact_style{
    padding-bottom: 0rem !important;
  }
}